* {
    margin: 0px;
    padding: 0px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 6%;
}

.main-nav ul {
    display: inline-block;
    list-style: none;
}

.main-nav li {
    display: inline;
    padding: 0px 10px;
}

.main-nav a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.main-nav a:hover {
    color: #04ffc0;
}